.App {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000050;
    overflow: hidden;
    .loadingIcon {
      position: fixed;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
    }
  }

  // 오른쪽 위
  .sidebar_markerWrapper {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 0px;

    .sidebar_markers {
      background-color: rgba($color: #fff, $alpha: 0);
      margin-top: 6px;
      padding: 12px 24px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    }

    .sidebar_marker {
      display: flex;
      margin: 6px 0;
      font-weight: bold;
      font-size: 18px;
      img {
        object-fit: contain;
        width: 30px;
        height: 30px;
      }
      .sidebar_marker_desc {
        margin: 8px 12px;
        font-size: 14px;
      }
    }
  }

  // 오른쪽 아래 내위치 버튼
  .buttonWrapper {
    position: absolute;
    border: 1px solid #22222270;
    border-radius: 5px;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      margin-right: 10px;
    }

    .Header-button {
      font-weight: bold;
      font-size: 18px;
    }
  }

  // 왼쪽 아래 반경 선택 버튼
  .SelectBtn {
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    width: 130px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
  }

  // 검색 사이드바
  .sidebar {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 0;
    transition: left 0.2s ease-in;
    padding: 6px;
    height: 80vh;
    width: 300px;

    // 검색 아이콘
    .sidebar_toggle {
      position: absolute;
      top: 20px;
      right: -55px;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }
    .sidebar_toggle:hover {
      opacity: 0.6;
    }

    // 다음 검색 창
    .sidebar_search {
      height: 100%;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    }

    .sidebar_options {
      margin-top: 6px;
      background-color: #fff;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    }
  }
  .sidebar-hide {
    left: -306px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    // 오른쪽 위
    .sidebar_markerWrapper {
      right: -20px;
      .sidebar_markers {
        background-color: rgba($color: #fff, $alpha: 0);
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0);
      }

      .sidebar_marker {
        font-size: 14px;
      }
    }

    // 오른쪽 아래 내위치 버튼
    .buttonWrapper {
      bottom: 60px;
      .Header-button {
        font-size: 16px;
      }
    }

    // 왼쪽 아래 반경 선택 버튼
    .SelectBtn {
      font-size: 16px;
      bottom: 60px;
    }
  }
}
